

.login-page{

  min-height: 500px;

  .form{
    width :30%;
    margin-left: 30%;
    margin-top: 20px;
    padding:20px;
    border: 2px solid #d8d8d8;
  }

  .login-title{
    margin-left: 35%;
    margin-top:20px;
    font-size:30px;
    font-weight: 300;
  }
}
