.navbar{

  background-color: #4cabff;
  height: 50px;
  color:white;
  display: flex;

  display: flex;

  .title{
    flex:5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .email{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    font-weight: bold;
  }


  .logout{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color:white;
      font-weight: bold;
    }
  }
}
